
.App {
  text-align: center;
}

.App-container {
  height: 100%;
  width: 100%;
  padding-right: 0 !important;
  padding-left: 0 !important;
  margin-right: 0 !important;
  margin-left: 0 !important;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.page-container{
  flex: 1;
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.feed {
  padding: 0;
  width: 100%;
  position: relative;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.search-result-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  position: relative;
  padding: 0;

}

.map-container {
  width: calc(100% - 720px);
  margin: 0;
  padding: 0;
  position: relative;
  height: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
